<div class="editor-row">
  <div class="section gf-form-group">
    <h5 class="section-heading">Polygon Options</h5>
     <div class="gf-form">
      <label class="gf-form-label width-8">Endpoint</label>
      <input type="text" class="input-medium gf-form-input max-width-10" ng-model="ctrl.panel.polygonsEndpoint" ng-change="ctrl.render()" ng-model-onblur>
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-9">Hot Color</label>
      <span class="max-width-10">
        <spectrum-picker class="gf-form-input" ng-model="ctrl.panel.polygonsHotColor" ng-change="ctrl.render()" ></spectrum-picker>
      </span>
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-9">Cold Color</label>
      <span class="max-width-10">
        <spectrum-picker class="gf-form-input" ng-model="ctrl.panel.polygonsColdColor" ng-change="ctrl.render()" ></spectrum-picker>
      </span>
    </div>
  </div>
</div>
